// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header{
    height: 60px;
    background-color: #ddd;
  }

thead{
    background-color: rgba(176, 160, 145, 0.521);
}

